@model List<Feedback>
@{
    ViewData["Title"] = "fetchFeedback";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<h1>All Feedback</h1>
<div class="row">
	<div class="col-md-12">
		
		<table class="table table-bordered table-striped" id="categoryTable">
			<thead>
				<tr>
					
					<th>User Name</th>
					<th>User Message</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.user_name</td>
						<td>@item.user_message</td>
						<td>
							<a href="@Url.Action("deletePermissionFeedback","Admin",new{id=item.feedback_id})" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				}

			</tbody>
		</table>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script>
	var js=jQuery.noConflict(true);
		js(document).ready(function () {
			js('#categoryTable').DataTable({

			});
		});
</script>


